 
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    background: url(bg3.jpeg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    
    color: blanchedalmond;
    position: absolute;
    top: 14%;
    left: 36%;

}
.container h1{
    font-family: 'Rubik', sans-serif;
    width: 50%;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 19px;
    padding: 13px 0;
}
.box{
    width: 100%;
    margin: 32px 0px;
    border-bottom: 2px solid purple ;
   
    
}
.box input{
    background: none;
    width: 75%;
    border: none;
    margin: 12px 0px;
    padding: 5px 0px ;
    font-size: 20px;
    border: none;
    outline: none;
    color: seashell;
}

.box i {
   width: 25px;
   text-align: center;
}
.btn{
    color:seashell;
    cursor: pointer;
    outline: none;
    width: 40%;
    margin: 12px 0;
    padding: 10px 11px;
    border: 2px solid purple ;
    border-radius: 12px;
    font-size: 18px;
    background: none;
    font-weight: bold;

}
.btn:hover{
    opacity: 0.1;
    color: purple;
    background: oldlace;
}
